<div class="d-flex justify-content-between">
    <h1>Companies</h1>

    <div class="d-flex">
        <a href="/admin/companies/create" class="btn btn-primary mb-4">
            Create
        </a>
    </div>
</div>

<form>
    <%- include('partials/search.ejs') %>

    <div class="row">
        <div class="col-3">
            <%- include('partials/sort.ejs') %>

            <button class="btn btn-primary mt-3">
                Apply
            </button>
        </div>

        <div class="col-9">
            <% companies.forEach((company) => { %>
                <div class="card bg-light mb-3">
                    <div class="card-body">
                        <p class="h3 mb-4">
                            <%= company.name %>
                        </p>
                        <a
                            href="/companies/<%= company.slug %>"
                            class="btn btn-primary"
                        >
                            Open
                        </a>
                        <a
                            href="/admin/companies/<%= company.slug %>/edit"
                            class="btn btn-warning"
                        >
                            Edit
                        </a>
                        <a
                            href="/admin/companies/<%= company.slug %>/delete"
                            class="btn btn-danger"
                            onclick="return confirm('Are you sure?')"
                        >
                            Delete
                        </a>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
</form>
